.profile {
    margin: 10px 10%;
    background-color: white;
    border: 1px solid;
    display: flex;
}

.menu1 {
    flex: 1;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding-left: 5px;
    gap: 20px;
}

.infor {
    flex: 3;
}

.intro {
    border-bottom: 1px solid;
    padding: 5px;
}

.content {
    display: flex;
}

.label {
    padding: 5px;
    text-align: right;
    line-height: 50px;
}

.label-value {
    line-height: 50px;
    padding: 5px;
}

.label-value input {
    width: 230px;
}

.avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar1 img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 3px 20px;
}

.my-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.update_avatar {
    margin: auto;
}